{% extends 'bbr.twig' %}

{% block js %}
<script src="library/js/require.js" data-main="library/js/core"></script>
{% endblock %}

{% block body %}
<div class="map-wrap">
	<div id="explorer"></div>
</div>
{% endblock %}
