body {

	font-family: helvetica, arial;
	background: #F3F3F3
}

body.fullscreen {

	overflow: hidden;
}

.map-wrap {
	position: relative;
	width: 1000px;
	height: 525px;
	margin: auto;
}

.fullscreen .map-wrap {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	height: auto;
}

#explorer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 2%;
	right: 2%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.fullscreen #explorer {
	left: 0;
	right: 0;
}

/* messier object labels */

.messier-label {

	padding: 2px 4px;
	background: rgba(255,255,255, 0.7);
	color: steelblue;
	font-size: 11px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;	
}

/* frame around map */

#map-frame {
	position: static !important;
}

.fullscreen #map-frame {
	display: none;
}

#map-frame .top,
#map-frame .right,
#map-frame .bottom,
#map-frame .left {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	min-width: 35px;
	min-height: 50px;
	background: url(../../library/images/map_overlay.png) no-repeat top center;
}

#map-frame .top {
	bottom: auto;
}

#map-frame .right {
	left: auto;
	top: 50px;
	bottom: 50px;
	background-position: center right;
}

#map-frame .bottom {
	top: auto;
	background-position: bottom center;
}

#map-frame .left {
	top: 50px;
	bottom: 50px;
	right: auto;
	background-position: center left;
}

/* chooser for map types */

.map-chooser .control {

	display: block;
	width: 64px;
	height: 64px;
	overflow: hidden;
	text-indent: -9999em;
	background: url(http://www.bigbangregistry.com/panojs3/images/64px_map.png) no-repeat 0 0;
}

.map-chooser .map-geo {

	background-image: url(http://www.bigbangregistry.com/panojs3/images/64px_map.png);
}

.map-chooser .map-infra {

	background-image: url(http://www.bigbangregistry.com/panojs3/images/64px_wise.png);
}

.map-chooser .map-mic {

	background-image: url(http://www.bigbangregistry.com/panojs3/images/64px_wmap.png);
}

/* build control for user structures */

.build-control .control,
.fullscreen-control .control {

	display: block;
	background: #eee;
	color: #666;
	padding: 10px;
	text-decoration: none;

	border: 2px solid #5c5555;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;

	-ms-box-shadow: -1px -1px 3px #888 inset, 1px 1px 3px #fff inset;

	-webkit-box-shadow: -1px -1px 3px #888 inset, 1px 1px 3px #fff inset;

	-moz-box-shadow: -1px -1px 3px #888 inset, 1px 1px 3px #fff inset;

	box-shadow: -1px -1px 3px #888 inset, 1px 1px 3px #fff inset;
}

.build-control .control:hover,
.build-control .control:focus,
.fullscreen-control .control:hover,
.fullscreen-control .control:focus {

	color: #333;
}

.build-control .control.active,
.fullscreen-control .control.active {

	color: #333;
	padding: 11px 10px 9px;
	border-color: #9e0000;

	-ms-box-shadow: 2px 2px 3px #888 inset;
	-webkit-box-shadow: 2px 2px 3px #888 inset;
	-moz-box-shadow: 2px 2px 3px #888 inset;
	box-shadow: 2px 2px 3px #888 inset;
}

/* search control */

.search-control {
	position: relative;
}

.search-control .control {
	width: 20em;
	border: 2px solid #555;
	padding: 4px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}



/* Autocomplete results */

.autocomplete-results {
	width: 14em;
	border: 2px solid #555;
	background: #fff;
}

.autocomplete-results ul, 
.autocomplete-results li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.autocomplete-results li {

	padding: 2px 4px;
}

.autocomplete-results li a {
	color: #333;
	text-decoration: none;
}

.autocomplete-results li.on {
	background: steelblue;
	color: white;
}
.autocomplete-results li.on a {
	color: white;
}

