/* Website template by freewebsitetemplates.com */
html {
	font-family: 'Trebuchet MS', sans-serif, Arial, Helvitica;
}
body {
	/*background-color: #ebebeb;*/
	background-color: #f3f3f3;
	margin: 0;
	padding-top: 0px;
}
#packagetitle {
	color: #90CAF4;
	font-family: fantasy;
	font-size: 28px;
	font-weight: bold;
}

#packageprice {
	color: #FFFFFF;
	font-family: fantasy;
	font-size: 16px;
	font-weight: bold;
}

#background {
      background-color: transparent;
      background-image: url(http://data.bigbangregistry.com/images/background.jpg);
      background-repeat: no-repeat;
      background-position: center top;
			min-height: 1440px;
  }
  
#backgroundmap {
      background-color: transparent;
      background-image: url(http://data.bigbangregistry.com/images/background_map.jpg);
      background-repeat: no-repeat;
      background-position: center top;
      min-height: 1440px;
  }

#background_buy {
      background-color: transparent;
      background-image: url(http://data.bigbangregistry.com/images/background_buy.jpg);
      background-repeat: no-repeat;
      background-position: center top;
      min-height: 1440px;
  }
  
#backgroundabout {
      background-color: transparent;
      background-image: url(http://data.bigbangregistry.com/images/background_about.jpg);
      background-repeat: no-repeat;
      background-position: center top;
      min-height: 1440px;
  }

#background_index {
	/*margin: auto;*/
	/*position: relative;*/
	/*left:-200px;*/
      background-color: transparent;
      background-image: url(http://bbr.minutephysics.netdna-cdn.com/images/background_index.jpg);
      background-repeat: no-repeat;
      background-position: center top;
      min-height: 1440px;
      /*width: 960px;*/
      /*padding:0 200px;*/
 }


#old_background {
	background: url(../images/bg-body.jpg) repeat;
	min-height: 1440px;
	border-top: 1px solid #cc9f0f;
}
#page {
	width: 960px;
	margin: 0 auto;
}
/*@font-face {*/
	/*font-family: fantasy*/
	/*font-family: 'CorbenBold';*/
	/*src: url('fonts/corben-bold-webfont.eot');*/
	/*src: local('?'), url('fonts/corben-bold-webfont.woff') format('woff'), */
		/*url('fonts/corben-bold-webfont.ttf') format('truetype'), */
		/*url('fonts/corben-bold-webfont.svg') format('svg');*/
	/*font-weight: normal;*/
	/*font-style: normal;*/
}
img {
	border: 0;
	margin:0px 0px 0px 0px;
}

a img {
	border: 0;
	margin:0px 0px 0px 0px;
}

td {
	color: #000000;
}

#connect .facebook, #connect .twitter, #connect .vimeo {
	/*background: url(../images/icons.gif) no-repeat;*/
}


/*------------------------------ HEADER ------------------------------*/ 
#header {
	/*background: url(../images/bg-header.jpg) no-repeat center top;*/
	min-height: 250px;
	margin-bottom: 20px;
}

#connect {
	float: left;
	display: inline-block;
	height: 30px;
	width: 960px;
	margin: 15px 0 15px 10px;
}
#connect a {
	display: inline-block;
	height: 30px;
	margin: 0 10px;
	padding: 0;
}
#connect .facebook {
	background-position: 0 2px;
	width: 27px;
}
#connect .twitter {
	background-position: 0 -36px;
	width: 36px;
}
#connect .vimeo {
	background-position: 0 -74px;
	width: 32px;
}

#infos {
	float: right;
	color: #635320;
	display: inline-block;
	height: 30px;
	width: 200px;
	margin: 15px 0;
}
#infos  a {
	color: #635320;
	font-family: Arial;
	font-size: 14px;
	line-height: 30px;
	margin: 0 5px;
	text-decoration: none;
}

/** Logo **/
#logo {
	clear: both;
	display: block;
	height: 222px; //282 (full image) - 30 (connect) - 30 (connect Margin)
	width: 950px;
	margin: 0 auto;
}

/** Navigation **/
#navigation {
	height: 20px;
	list-style-type: none;
	margin: 0;
	padding: 0px 0px 0px 0px;
}

#navigation {
	height: 20px;
	list-style-type: none;
	margin: 0;
	padding: 8px 20px 12px 0;
}
#navigation li {
	float: left;
	/*font-family: 'CorbenBold';*/
	font-family: 'Palatino';
	font-size: 22px;
	font-weight: bold;
	line-height: 20px;
	width: 186px;
	text-align: center;
}
#navigation a {
	color: #9d7912;
	text-decoration: none;
}
#navigation a:hover, #navigation li.selected a {
	color: #f9f9f5;
	text-shadow: 1px 1px 0 #a8840b;
}

/*------------------------------ CONTENTS ------------------------------*/
#contents {
	margin: 0 0 10px;
	padding: 0 5px;
}

#main {
	background: url(/images/overlays/divider_line.png) repeat-x left bottom;
	margin: 0 0 10px;
	padding: 0 0 30px;
    color: #000000;
}

#main p {
	color: #000000;
	font-size: 14px;
	line-height: 20px;
	margin: 0 0px;
	padding: 0 0 20px;
	font-family: sans-serif;
}

	/*.tab { text-indent:40px }*/

#main a {
	color: #0000FF;
	text-decoration: underline;
	
}

#main a:hover {
	text-decoration: none;
}


#main bb {
	color: #000000;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
}

#table#buy {
	color: #000000;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding: 0 0 20px;
	font-family: sans-serif;
}

#bullet{
	color: #000000;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding: 0 0 20px;
	font-family: sans-serif;
}

/*#main p a {*/
/*	color: #0101DF;*/
/*}*/

/*#main a {*/
/*	color: #111111;*/
/*}*/
/**/

#main address {
	color: #0A1B2A;
	font-style: normal;
	width: 350px;
	margin: 0 auto;
	text-align: center;
}
#main address span {
	color: #9d7912;
	display: block;
	font-family: 'CorbenBold';
	font-size: 18px;
	line-height: 20px;
	margin: 20px 0;
	width: 350px;
}

#adbox {
	background: #000000 url(../images/bottom-shadow-headliner.jpg) no-repeat center bottom;
	height: 371px;
	width: 935px;
	margin: 0 auto;
	padding: 20px 7px 22px;
	position: relative;
}
#adbox img {
	height: 371px;
	width: 935px;
	margin: auto;
}

#hlist {
	padding: 0 0 0;
	position: relative;
}
#hlist  ul {
	display: inline-block;
	list-style-type: none;
	margin: 0 0px;
	padding: 0px;
}

#hlist  ul li {
	float: left;
	/*background: #ffffff url(../images/bottom-shadow-img.jpg) no-repeat center bottom;*/
	height: 100px;
	width: 200px;
	margin-right: 28px;
	padding: 6px 6px 15px;
}
#hlist  ul li.last {
	margin-right: 0;
}
#hlist  ul li img {
	border: 1px solid #e4e0d1;
}

#hlist a.button {
	/*background: url(../images/bg-button.jpg) no-repeat;*/
	/*color: #9e7217;*/
	display: block;
	font-family: 'CorbenBold';
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	width: 144px;
	padding: 4px 0 6px;
	text-align: center;
	text-decoration: none;
	position: absolute;
	bottom: -20px;
	left: 403px;
}

	
#featured {
	padding: 0 0 42px;
	position: relative;
}
#featured ul {
	display: inline-block;
	list-style-type: none;
	margin: inherit;
	padding: inherit;
}

#featured ul li {
	float: none;
	/*background: #ffffff url(../images/bottom-shadow-img.jpg) no-repeat center bottom;*/
	/*height: 100px;*/
	/*width: auto;*/
	/*margin-right: 28px;*/
	padding: 6px 6px 15px;
}
#featured ul li.last {
	margin-right: 0;
}
#featured ul li img {
	border: 1px solid #e4e0d1;
}
#featured a.button {
	/*background: url(../images/bg-button.jpg) no-repeat;*/
	color: #9e7217;
	display: block;
	font-family: 'CorbenBold';
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	width: 144px;
	padding: 4px 0 6px;
	text-align: center;
	text-decoration: none;
	position: absolute;
	bottom: -20px;
	left: 403px;
}

/*------------------------------ Blog Page ------------------------------*/
#blogs {
	background: url(/images/overlays/divider_line.png) repeat-x left bottom;
	padding: 0 0 20px;
	position: relative;
}
#blogs div {
	background: url(/images/overlays/divider_line.png) repeat-x left bottom;
	display: inline-block;
	margin: 0 0 20px;
	padding: 0 0 20px;
}
#blogs div.last {
	background: none;
	margin: 0;
}
#blogs span {
	float: left;
	background: #ffffff url(../images/bottom-shadow-img.jpg) no-repeat center bottom;
	display: block;
	height: 253px;
	width: 204px;
	margin-bottom: 6px;
	margin-right: 40px;
	padding: 6px 6px 15px;
}
#blogs span img {
	border: 1px solid #e4e0d1;
}
#blogs h3 {
	background: url(/images/overlays/divider_line.png) repeat-x left bottom;
	line-height: 30px;
	margin: 0 0 20px 258px;
	padding: 0 0 10px;
}
#blogs p {
	color: #755a0b;
	max-height: 160px;
	line-height: 20px;
	margin: 0 0 20px 258px;
	padding: 0 0 20px;
	overflow: hidden;
}
#blogs p a {
	color: #755a0b;
}
#blogs a.more {
	color: #000000;
	font-style: italic;
	text-decoration: none;
}
#blogs div.buttons, #blogs div.blog-entry-buttons {
	background: none;
	display: inline-block;
	width: 328px;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -20px;
	left: 311px;
}
#blogs div.buttons a, #blogs div.blog-entry-buttons a {
	float: left;
	background: url(../images/bg-button.jpg) no-repeat;
	color: #8e7217;
	display: block;
	font-family: 'CorbenBold';
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	width: 144px;
	margin-right: 20px;
	padding: 4px 0 6px;
	text-align: center;
	text-decoration: none;
}
#blogs div.blog-entry-buttons {
	width: 690px;
	left: 258px;
}
#blogs div.blog-entry-buttons a.back {
	float: right;
	font-size: 16px;
	margin-right: 0;
}

/*------------------------------ Shop Page ------------------------------*/
#shop {
	background: url(/images/overlays/divider_line.png) repeat-x left bottom;
	padding: 0 0 20px;
	position: relative;
}
#shop ul.items {
	display: inline-block;
	list-style-type: none;
	margin: 0 auto 16px;
	padding: 0;
}
#shop ul.items li {
	float: left;
	color: #8f6f05;
	height: 340px;
	width: 216px;
	margin-bottom: 20px;
	margin-right: 28px;
}
#shop ul.items li span {
	background: #ffffff url(../images/bottom-shadow-img.jpg) no-repeat center bottom;
	display: block;
	height: 253px;
	width: 204px;
	margin-bottom: 10px;
	padding: 6px 6px 14px;
}
#shop ul.items li span img {
	border: 1px solid #e4e0d1;
}
#shop ul.items li span.price {
	float: right;
	background: none;
	color: #ffffff;
	display: inine-block;
	font-size: 17px;
	height: 20px;
	line-height: 20px;
	width: 80px;
	margin: 0;
	padding: 0;
	text-align: right;
}
#shop ul.items li a.buy {
	background-color: #fff36b;
	color: #8f6f05;
	display: block;
	font-family: 'CorbenBold';
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	width: 80px;
	border-radius: 3px;
	margin: 13px auto 0;
	padding: 1px 0 4px;
	text-align: center;
	text-decoration: none;
}
#shop ul.items li.last {
	margin-right: 0;
}

/*------------------------------ FOOTER ------------------------------*/
#footer {
	padding: 0 5px;
    color: #111111;
    text-align:center;
    margin:0 auto; 
}
#description {
	background: url(/images/overlays/divider_line.png) repeat-x left bottom;
	margin: 0 0 30px;
	padding: 0 0 30px;
}
#description div {
	float: left;
	width: 180px;
	margin-right: 50px;
}
#description div a.logo {
	background: url(../images/logo-footer.gif) no-repeat;
	display: block;
	height: 30px;
	width: 175px;
	margin: 0 0 10px;
}
#description div span {
	color: #999999;
	display: block;
	font-size: 11px;
	line-height: 20px;
}
#description div span a {
	color: #999999;
	text-decoration: none;
}
#description p {
	color: #999999;
	font-size: 13px;
	line-height: 20px;
	margin: 20px 0;
	text-align: justify;
}
#description p a {
	color: #999999;
}

#footer div.navigation {
	color: #777777;
	font-size: 12px;
	line-height: 20px;
	width: 700px;
	margin: 5px auto 20px;
	//text-shadow: 0 1px 0 #999999;
}
#footer div.navigation a {
	color: #777777;
	padding: 0 5px;
	text-decoration: none;
	//text-shadow: 1px 1px 0 #999999;
}
#footer div.navigation a:hover {
	color: #444444;
}


/*------------------------------ For IE6 ------------------------------*/
#background {
	_height: 1440px;
}

#featured a.button {
	_top: 299px;
}

#blogs {
	_height: 620px;
}
#blogs div.buttons, #blogs div.blog-entry-buttons {
	_top: 620px;
}

