<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    # may need to change this depending on your setup
    RewriteBase /data
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>